.product-detail-mobile__container {
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.product-detail-mobile__image-container {
  text-align: center;
}

.product-detail-mobile__image-container img {
  width: 100%;
  max-width: 300px;
}

.product-detail-mobile__description-title {
  font-size: 18px;
  padding-bottom: 32px;
  padding-top: 32px;
}

.product-detail-mobile__description-value {
  font-size: 14px;
  color: #999999;
}

.product-detail-mobile__price-decimals {
  font-size: 16px;
  vertical-align: super;
}

.product-detail-mobile__condition {
  font-size: 14px;
  padding-bottom: 32px;
}

.product-detail-mobile__title {
  font-size: 16px;
  font-weight: 500;
}

.product-detail-mobile__price {
  font-size: 28px;
  padding-bottom: 32px;
}

.product-detail-mobile__buy-button {
  width: 100%;
  height: 43px;
  color: #fff;
  background-color: #3483fa;
  border-width: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
